<div class="wrapper">
    <div class="left">
        <app-about-me-canvas></app-about-me-canvas>
    </div>
    <div class="right">
        <h2>Über mich</h2>
        <h3>
            <app-gradient-text [text]="'Timon Fiedler - Fullstack Developer'"></app-gradient-text>
        </h3>
        <p>{{ text }}</p>
        <div class="socials">
            <app-socials-icon [theme]="'white'" [type]="'Email'"></app-socials-icon>
            <app-socials-icon [theme]="'white'"></app-socials-icon>
            <app-socials-icon [theme]="'white'" [type]="'GitHub'"></app-socials-icon>
            <app-socials-icon [theme]="'white'" [type]="'Instagram'"></app-socials-icon>
        </div>
    </div>
</div>
