@use "../../../styles/index" as *;

$font-size: 1.3rem;

.wrapper {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr;
    gap: $padding-side;
    padding: $header-height $padding-side;
    box-sizing: border-box;
    width: 100%;
}

app-about-me-canvas {
    display: block;
    width: 100%;
    height: auto;
    aspect-ratio: 1 / 1;
    max-height: 80vh;
}

.right {
    padding: calc($header-height / 2) 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    > * {
        max-width: 750px;
    }

    h2 {
        font-size: calc($header-height / 3 * 2);
        margin: 0;
        width: 100%;
    }

    h3 {
        font-size: calc($header-height / 3);
        margin: calc($header-height / 3) 0;
        width: 100%;
    }

    p {
        margin: 0;
        -webkit-hyphens: auto;
        hyphens: auto;
        text-wrap: pretty;
        font-size: 1rem;
        overscroll-behavior: contain;
    }

    .socials {
        display: flex;
        justify-content: center;
        gap: calc($padding-side / 3 * 2);
        height: calc($header-height / 2);
        width: 100%;
        margin-top: calc($header-height / 2);

        & > * {
            transition: all 0.3s ease-in-out;
        }

        & > :hover {
            transform: scale(1.15);
        }
    }
}

.title-small,
.me,
.subtitle-small,
.fog {
    display: none;
}

@media screen and (min-width: 1921px) {
    .right {
        padding: calc($header-height / 2 * 1.5) 0;

        > * {
            max-width: 1500px;
        }

        h2 {
            font-size: calc($header-height / 3 * 2 * 1.5);
        }

        h3 {
            font-size: calc($header-height / 3 * 1.5);
            margin: calc($header-height / 3 * 1.5) 0;
        }

        p {
            font-size: 1.5rem;
        }

        .socials {
            gap: calc($padding-side / 3 * 2 * 1.5);
            height: calc($header-height / 2 * 1.5);
            margin-top: calc($header-height / 2 * 1.5);
        }
    }
}

@media screen and (max-width: 600px) {
    .subtitle-small {
        font-size: calc($font-size * 1.5);
    }

    .right p {
        font-size: calc($font-size / 1.25);
        max-height: 40vh;
        overflow-y: auto;
        position: relative;

        &::after {
            content: "";
            display: block;
            height: calc($mobile-header-height / 2);
        }
    }

    .fog {
        display: block;
        position: relative;
        height: 1px;
        transform: scaleY(strip-unit(calc($mobile-header-height / 2)));
        width: 100%;
        top: calc($mobile-header-height / -2 / 2);
        background: linear-gradient(0deg, rgba($text-50, 0.75), rgba($secondary-500, 0));
    }
}

@media screen and (max-width: 900px) {
    .wrapper {
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 0;
        margin: $header-height $padding-side;
        margin-bottom: calc($header-height / 2);
        padding: 0;
        border-radius: calc($header-height / 2);
        width: calc(100% - $padding-side * 2);
    }

    .right {
        // Is now bottom not right
        border-radius: calc($header-height / 4);
        padding: calc($header-height / 2) $padding-side;
        margin: 0 $padding-side;
        position: relative;
        z-index: 2;
        background: linear-gradient(180deg, $secondary-500, $accent-500);

        h2 {
            display: none;
        }

        h3 {
            font-size: calc($header-height / 2.5);
            margin: calc($header-height / 3) 0;
            text-align: center;
            margin-top: 0;

            .subtitle-small {
                display: block;
                color: $text-50;
            }
        }

        .socials {
            gap: 3vw;
        }

        p::selection,
        .subtitle-small::selection {
            background: rgba($text-900, 0.5);
        }
    }

    .left {
        // Is now the top and not left
        width: 75%;
        aspect-ratio: 1 / 1;
        position: relative;
        top: calc($header-height / 2);

        app-about-me-canvas {
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            aspect-ratio: 1 / 1;
            z-index: 1;
        }

        .me {
            display: block;
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            aspect-ratio: 1 / 1;
            z-index: 2;
            pointer-events: none;

            img {
                width: 100%;
                height: 100%;
                object-fit: cover;
                border-radius: calc($header-height / 4);
                pointer-events: none;
                padding: 5%;
                box-sizing: border-box;
            }
        }
    }

    .title-small {
        display: block;
        text-align: center;
        font-size: calc($header-height / 3 * 2);
        margin: 0;
        width: 100%;
    }

    .subtitle-big {
        display: none;
    }
}

@media screen and (max-width: 380px) {
    .title-small {
        font-size: calc($header-height / 2);
    }

    .subtitle-small {
        font-size: calc($font-size * 1.4);
    }

    .right {
        padding: calc($header-height / 2) calc($padding-side * 2);

        p {
            font-size: calc($font-size / 1.25);
        }

        .socials {
            gap: 4vw;
            height: calc($header-height / 3);
            margin-top: calc($header-height / 3);
        }
    }
}
