@use "../../../styles/components/form.scss";

.middle {
    display: block;
    margin-left: auto;
    margin-right: auto;
}

h1 {
    margin: 0;
}

app-primary-button {
    margin-top: 1.5rem;
}

@media screen and (min-width: 381px) and (max-width: 800px) {
    .container.middle {
        width: 75%;
    }
}

@media screen and (max-width: 380px) {
    .container.middle {
        width: 100%;
    }
}
