@use "../../../styles/index" as *;
@use "sass:list";
@use "sass:color";

$header-content-height: calc($header-height * 0.8);
$mobile-header-content-height: calc($mobile-header-height * 0.8);

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: calc($header-height / 10) $padding-side;
    box-sizing: border-box;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: $header-height;
    background-color: $background-950;
    box-shadow: 0 2px 5px rgb($secondary-500, 0.5);
    z-index: 1000;

    > a {
        height: $header-content-height;
        display: flex;
        align-items: center;
        gap: calc($header-height / 7.5);
        cursor: pointer;
        text-decoration: none;
        color: $text-50;

        span {
            position: relative;
            z-index: 1;
            height: 100%;
            display: inline-flex;
            align-items: center;
            font-family: $title;
            font-weight: 900;
            font-size: calc($header-height / 2);
            transform: translateY(calc($header-height / 40));
        }
    }
}

.logo-wrapper {
    z-index: 2;
    position: relative;
    height: 100%;
    aspect-ratio: 1 / 1;

    img {
        position: relative;
        height: 100%;
        z-index: 2;
        aspect-ratio: 1 / 1;

        &:active {
            transition: all 0.1s ease;
            transform: scale(0.9, 0.9);
        }
    }
}

.particles {
    z-index: 1;
    width: 90px;
    height: 90px;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    &::after {
        content: "";
        position: absolute;
        left: calc(-500px + (90px / 2));
        top: calc(-500px + (90px / 2));
        min-width: 1000px;
        min-height: 1000px;
        pointer-events: none;
        transition:
            background-size ease-in-out 0.5s,
            background-position ease-in-out 0.5s;
        background-repeat: no-repeat;
        overflow: hidden;
        z-index: 1;
    }
}

img:hover ~ .particles::after {
    $gradients: ();
    @for $i from 1 through 70 {
        $gradients: list.append($gradients, radial-gradient(circle, white 45%, transparent 45%), comma);
    }
    animation:
        header-bg-animation 0.8s linear forwards,
        special-effect 2s linear infinite;
    background-image: $gradients;
}

.header-buttons {
    display: flex;
    align-items: center;
    gap: calc($header-height / 5);
    justify-content: flex-end;
}

.contact-button-small {
    display: none;
}

@media screen and (max-width: 600px) {
    header {
        height: $mobile-header-height;
        padding: calc($mobile-header-height / 10) $padding-side;

        > a {
            height: $mobile-header-content-height;
            gap: calc($mobile-header-height / 7.5);

            span {
                font-size: calc($mobile-header-height / 2);
                transform: translateY(calc($mobile-header-height / 40));
            }
        }
    }

    .particles {
        width: calc(90px / 3 * 2);
        height: calc(90px / 3 * 2);
        &::after {
            left: calc(-500px + ((90px / 3 * 2) / 2));
            top: calc(-500px + ((90px / 3 * 2) / 2));
        }
    }

    .header-buttons {
        gap: calc($mobile-header-height / 5);
    }

    app-primary-button {
        display: none;
    }

    .contact-button-small {
        background-color: $background-950;
        width: calc($mobile-header-height * 0.6);
        height: calc($mobile-header-height * 0.6);
        aspect-ratio: 1 / 1;
        border-radius: 20%;
        display: grid;
        place-items: center;
        border: none;
        outline: none;
        cursor: pointer;
        transition: all 0.2s ease;
        padding: 0;

        &:hover {
            background-color: #aaaaaa1a;
        }

        &:active {
            background-color: #aaaaaa3a;
        }
    }

    .contact-button-small-image {
        filter: invert(1);
        padding: 5%;
        width: 100%;
        height: 100%;
        aspect-ratio: 1 / 1;
        box-sizing: border-box;
    }
}

@media screen and (max-width: 420px) {
    .logo-link > span {
        display: none !important;
    }
}

@keyframes header-bg-animation {
    0% {
        transform: scale(1, 1);
        background-size:
            74px 74px,
            72px 72px,
            78px 78px,
            70px 70px,
            72px 72px,
            76px 76px,
            66px 66px,
            77px 77px,
            76px 76px,
            65px 65px,
            70px 70px,
            69px 69px;
        background-position:
            506px 487px,
            488px 506px,
            460px 510px,
            439px 507px,
            420px 488px,
            411px 461px,
            423px 441px,
            436px 418px,
            461px 411px,
            492px 424px,
            508px 439px,
            515px 465px;
    }
    2% {
        transform: scale(0.98, 0.98);
        background-size:
            73px 73px,
            72px 72px,
            77px 77px,
            70px 70px,
            71px 71px,
            75px 75px,
            66px 66px,
            76px 76px,
            75px 75px,
            64px 64px,
            69px 69px,
            68px 68px;
        background-position:
            519px 482px,
            503px 508px,
            472px 519px,
            445px 521px,
            419px 503px,
            403px 473px,
            410px 447px,
            422px 417px,
            450px 404px,
            486px 411px,
            509px 426px,
            523px 454px;
    }
    4% {
        transform: scale(0.96, 0.96);
        background-size:
            72px 72px,
            71px 71px,
            77px 77px,
            69px 69px,
            70px 70px,
            74px 74px,
            65px 65px,
            75px 75px,
            74px 74px,
            64px 64px,
            68px 68px,
            68px 68px;
        background-position:
            531px 476px,
            516px 508px,
            484px 526px,
            452px 532px,
            419px 516px,
            397px 485px,
            399px 454px,
            409px 417px,
            439px 397px,
            480px 400px,
            510px 413px,
            530px 443px;
    }
    6% {
        transform: scale(0.94, 0.94);
        background-size:
            72px 72px,
            70px 70px,
            76px 76px,
            68px 68px,
            70px 70px,
            74px 74px,
            64px 64px,
            74px 74px,
            74px 74px,
            63px 63px,
            68px 68px,
            67px 67px;
        background-position:
            541px 469px,
            528px 508px,
            495px 531px,
            459px 543px,
            421px 529px,
            392px 496px,
            390px 461px,
            398px 418px,
            429px 392px,
            474px 390px,
            509px 401px,
            536px 432px;
    }
    8% {
        transform: scale(0.92, 0.92);
        background-size:
            71px 71px,
            70px 70px,
            75px 75px,
            68px 68px,
            69px 69px,
            73px 73px,
            64px 64px,
            74px 74px,
            73px 73px,
            63px 63px,
            67px 67px,
            66px 66px;
        background-position:
            550px 463px,
            540px 507px,
            506px 536px,
            466px 552px,
            422px 540px,
            388px 507px,
            381px 468px,
            387px 420px,
            419px 388px,
            467px 382px,
            508px 390px,
            540px 422px;
    }
    10% {
        transform: scale(0.9, 0.9);
        background-size:
            70px 70px,
            69px 69px,
            75px 75px,
            67px 67px,
            68px 68px,
            72px 72px,
            63px 63px,
            73px 73px,
            72px 72px,
            62px 62px,
            66px 66px,
            66px 66px;
        background-position:
            558px 456px,
            550px 505px,
            516px 540px,
            473px 560px,
            425px 551px,
            385px 517px,
            373px 475px,
            377px 422px,
            409px 385px,
            460px 374px,
            506px 380px,
            544px 412px;
    }
    12% {
        transform: scale(0.88, 0.88);
        background-size:
            70px 70px,
            68px 68px,
            74px 74px,
            67px 67px,
            68px 68px,
            72px 72px,
            63px 63px,
            72px 72px,
            72px 72px,
            61px 61px,
            66px 66px,
            65px 65px;
        background-position:
            566px 450px,
            560px 503px,
            526px 543px,
            481px 568px,
            427px 561px,
            383px 527px,
            366px 483px,
            368px 425px,
            400px 383px,
            454px 367px,
            505px 371px,
            547px 403px;
    }
    14% {
        transform: scale(0.86, 0.86);
        background-size:
            69px 69px,
            68px 68px,
            73px 73px,
            66px 66px,
            67px 67px,
            71px 71px,
            62px 62px,
            72px 72px,
            71px 71px,
            61px 61px,
            65px 65px,
            65px 65px;
        background-position:
            573px 443px,
            570px 501px,
            535px 546px,
            488px 575px,
            430px 570px,
            380px 536px,
            360px 489px,
            359px 428px,
            391px 381px,
            448px 360px,
            502px 362px,
            550px 394px;
    }
    16% {
        transform: scale(0.84, 0.84);
        background-size:
            69px 69px,
            67px 67px,
            73px 73px,
            65px 65px,
            67px 67px,
            70px 70px,
            62px 62px,
            71px 71px,
            70px 70px,
            60px 60px,
            65px 65px,
            64px 64px;
        background-position:
            580px 437px,
            579px 499px,
            544px 548px,
            494px 581px,
            433px 579px,
            379px 545px,
            354px 496px,
            350px 431px,
            383px 379px,
            441px 354px,
            500px 354px,
            553px 386px;
    }
    18% {
        transform: scale(0.82, 0.82);
        background-size:
            68px 68px,
            67px 67px,
            72px 72px,
            65px 65px,
            66px 66px,
            70px 70px,
            61px 61px,
            71px 71px,
            70px 70px,
            60px 60px,
            64px 64px,
            63px 63px;
        background-position:
            586px 431px,
            587px 496px,
            553px 550px,
            501px 587px,
            436px 588px,
            377px 554px,
            348px 503px,
            343px 434px,
            374px 377px,
            435px 349px,
            498px 346px,
            555px 378px;
    }
    20% {
        transform: scale(0.8, 0.8);
        background-size:
            67px 67px,
            66px 66px,
            71px 71px,
            64px 64px,
            65px 65px,
            69px 69px,
            60px 60px,
            70px 70px,
            69px 69px,
            59px 59px,
            63px 63px,
            63px 63px;
        background-position:
            591px 425px,
            596px 494px,
            562px 552px,
            508px 593px,
            439px 596px,
            376px 563px,
            343px 510px,
            335px 437px,
            367px 376px,
            429px 344px,
            495px 338px,
            556px 370px;
    }
    22% {
        transform: scale(0.78, 0.78);
        background-size:
            67px 67px,
            65px 65px,
            71px 71px,
            64px 64px,
            65px 65px,
            69px 69px,
            60px 60px,
            69px 69px,
            68px 68px,
            59px 59px,
            63px 63px,
            62px 62px;
        background-position:
            597px 419px,
            603px 491px,
            570px 554px,
            514px 598px,
            442px 604px,
            375px 571px,
            339px 516px,
            328px 440px,
            359px 375px,
            423px 339px,
            493px 331px,
            558px 362px;
    }
    24% {
        transform: scale(0.76, 0.76);
        background-size:
            66px 66px,
            65px 65px,
            70px 70px,
            63px 63px,
            64px 64px,
            68px 68px,
            59px 59px,
            69px 69px,
            68px 68px,
            58px 58px,
            62px 62px,
            62px 62px;
        background-position:
            602px 413px,
            611px 489px,
            578px 555px,
            521px 603px,
            445px 611px,
            374px 579px,
            334px 523px,
            321px 443px,
            352px 375px,
            417px 335px,
            490px 324px,
            559px 355px;
    }
    26% {
        transform: scale(0.74, 0.74);
        background-size:
            65px 65px,
            64px 64px,
            69px 69px,
            63px 63px,
            64px 64px,
            67px 67px,
            59px 59px,
            68px 68px,
            67px 67px,
            58px 58px,
            62px 62px,
            61px 61px;
        background-position:
            606px 407px,
            618px 486px,
            586px 556px,
            527px 608px,
            449px 618px,
            374px 587px,
            330px 529px,
            315px 447px,
            345px 374px,
            411px 331px,
            487px 318px,
            560px 348px;
    }
    28% {
        transform: scale(0.72, 0.72);
        background-size:
            65px 65px,
            64px 64px,
            69px 69px,
            62px 62px,
            63px 63px,
            67px 67px,
            58px 58px,
            67px 67px,
            67px 67px,
            57px 57px,
            61px 61px,
            61px 61px;
        background-position:
            611px 402px,
            625px 483px,
            593px 557px,
            533px 612px,
            452px 625px,
            374px 594px,
            326px 535px,
            308px 450px,
            338px 374px,
            406px 327px,
            484px 311px,
            561px 341px;
    }
    30% {
        transform: scale(0.7, 0.7);
        background-size:
            64px 64px,
            63px 63px,
            68px 68px,
            61px 61px,
            62px 62px,
            66px 66px,
            58px 58px,
            67px 67px,
            66px 66px,
            57px 57px,
            61px 61px,
            60px 60px;
        background-position:
            615px 396px,
            631px 480px,
            601px 558px,
            539px 617px,
            455px 632px,
            373px 602px,
            322px 541px,
            302px 453px,
            331px 374px,
            400px 323px,
            482px 305px,
            562px 334px;
    }
    32% {
        transform: scale(0.68, 0.68);
        background-size:
            64px 64px,
            62px 62px,
            67px 67px,
            61px 61px,
            62px 62px,
            66px 66px,
            57px 57px,
            66px 66px,
            65px 65px,
            56px 56px,
            60px 60px,
            59px 59px;
        background-position:
            619px 391px,
            638px 478px,
            608px 559px,
            545px 621px,
            459px 638px,
            373px 609px,
            319px 547px,
            297px 457px,
            324px 373px,
            395px 320px,
            479px 300px,
            563px 327px;
    }
    34% {
        transform: scale(0.66, 0.66);
        background-size:
            63px 63px,
            62px 62px,
            67px 67px,
            60px 60px,
            61px 61px,
            65px 65px,
            57px 57px,
            66px 66px,
            65px 65px,
            56px 56px,
            60px 60px,
            59px 59px;
        background-position:
            623px 386px,
            644px 475px,
            615px 559px,
            551px 624px,
            462px 644px,
            373px 616px,
            316px 553px,
            291px 460px,
            318px 374px,
            389px 316px,
            476px 294px,
            563px 321px;
    }
    36% {
        transform: scale(0.64, 0.64);
        background-size:
            63px 63px,
            61px 61px,
            66px 66px,
            60px 60px,
            61px 61px,
            64px 64px,
            56px 56px,
            65px 65px,
            64px 64px,
            55px 55px,
            59px 59px,
            58px 58px;
        background-position:
            627px 380px,
            650px 472px,
            621px 560px,
            557px 628px,
            466px 650px,
            374px 622px,
            313px 559px,
            286px 463px,
            312px 374px,
            384px 313px,
            473px 289px,
            564px 315px;
    }
    38% {
        transform: scale(0.62, 0.62);
        background-size:
            62px 62px,
            61px 61px,
            66px 66px,
            59px 59px,
            60px 60px,
            64px 64px,
            56px 56px,
            64px 64px,
            64px 64px,
            55px 55px,
            58px 58px,
            58px 58px;
        background-position:
            630px 375px,
            655px 469px,
            628px 560px,
            563px 631px,
            469px 656px,
            374px 629px,
            310px 564px,
            280px 467px,
            306px 374px,
            379px 310px,
            470px 283px,
            564px 309px;
    }
    40% {
        transform: scale(0.6, 0.6);
        background-size:
            61px 61px,
            60px 60px,
            65px 65px,
            59px 59px,
            60px 60px,
            63px 63px,
            55px 55px,
            64px 64px,
            63px 63px,
            54px 54px,
            58px 58px,
            57px 57px;
        background-position:
            633px 370px,
            661px 466px,
            634px 560px,
            568px 635px,
            472px 661px,
            374px 635px,
            307px 570px,
            275px 470px,
            300px 374px,
            374px 308px,
            467px 278px,
            564px 303px;
    }
    42% {
        transform: scale(0.58, 0.58);
        background-size:
            61px 61px,
            60px 60px,
            64px 64px,
            58px 58px,
            59px 59px,
            63px 63px,
            55px 55px,
            63px 63px,
            62px 62px,
            54px 54px,
            57px 57px,
            57px 57px;
        background-position:
            636px 365px,
            666px 463px,
            641px 560px,
            574px 638px,
            476px 667px,
            375px 642px,
            304px 576px,
            271px 474px,
            294px 375px,
            369px 305px,
            465px 274px,
            564px 297px;
    }
    44% {
        transform: scale(0.56, 0.56);
        background-size:
            60px 60px,
            59px 59px,
            64px 64px,
            58px 58px,
            59px 59px,
            62px 62px,
            54px 54px,
            63px 63px,
            62px 62px,
            53px 53px,
            57px 57px,
            56px 56px;
        background-position:
            639px 360px,
            672px 461px,
            647px 560px,
            579px 641px,
            479px 672px,
            375px 648px,
            302px 581px,
            266px 477px,
            289px 375px,
            364px 302px,
            462px 269px,
            564px 292px;
    }
    46% {
        transform: scale(0.54, 0.54);
        background-size:
            60px 60px,
            59px 59px,
            63px 63px,
            57px 57px,
            58px 58px,
            61px 61px,
            54px 54px,
            62px 62px,
            61px 61px,
            53px 53px,
            56px 56px,
            56px 56px;
        background-position:
            642px 355px,
            677px 458px,
            653px 560px,
            585px 644px,
            482px 677px,
            376px 654px,
            300px 586px,
            262px 480px,
            284px 376px,
            359px 300px,
            459px 264px,
            564px 286px;
    }
    48% {
        transform: scale(0.52, 0.52);
        background-size:
            59px 59px,
            58px 58px,
            63px 63px,
            57px 57px,
            58px 58px,
            61px 61px,
            53px 53px,
            61px 61px,
            61px 61px,
            52px 52px,
            56px 56px,
            55px 55px;
        background-position:
            645px 351px,
            682px 455px,
            658px 560px,
            590px 646px,
            486px 682px,
            376px 659px,
            297px 591px,
            257px 484px,
            278px 376px,
            354px 298px,
            456px 260px,
            564px 281px;
    }
    50% {
        transform: scale(0.5, 0.5);
        background-size:
            59px 59px,
            57px 57px,
            62px 62px,
            56px 56px,
            57px 57px,
            60px 60px,
            53px 53px,
            61px 61px,
            60px 60px,
            52px 52px,
            55px 55px,
            55px 55px;
        background-position:
            648px 346px,
            686px 452px,
            664px 560px,
            595px 649px,
            489px 686px,
            377px 665px,
            295px 597px,
            253px 487px,
            273px 377px,
            350px 296px,
            453px 256px,
            564px 276px;
    }
    52% {
        transform: scale(0.48, 0.48);
        background-size:
            58px 58px,
            57px 57px,
            62px 62px,
            56px 56px,
            57px 57px,
            60px 60px,
            52px 52px,
            60px 60px,
            60px 60px,
            51px 51px,
            55px 55px,
            54px 54px;
        background-position:
            650px 342px,
            691px 449px,
            670px 560px,
            600px 651px,
            492px 691px,
            378px 671px,
            293px 602px,
            249px 490px,
            268px 378px,
            345px 294px,
            450px 252px,
            564px 271px;
    }
    54% {
        transform: scale(0.46, 0.46);
        background-size:
            58px 58px,
            56px 56px,
            61px 61px,
            55px 55px,
            56px 56px,
            59px 59px,
            52px 52px,
            60px 60px,
            59px 59px,
            51px 51px,
            54px 54px,
            54px 54px;
        background-position:
            652px 337px,
            695px 447px,
            675px 560px,
            605px 654px,
            496px 696px,
            379px 676px,
            291px 607px,
            245px 494px,
            263px 379px,
            341px 292px,
            448px 248px,
            563px 266px;
    }
    56% {
        transform: scale(0.44, 0.44);
        background-size:
            57px 57px,
            56px 56px,
            60px 60px,
            55px 55px,
            56px 56px,
            59px 59px,
            51px 51px,
            59px 59px,
            59px 59px,
            50px 50px,
            54px 54px,
            53px 53px;
        background-position:
            655px 333px,
            700px 444px,
            681px 559px,
            610px 656px,
            499px 700px,
            379px 681px,
            290px 612px,
            241px 497px,
            258px 380px,
            336px 290px,
            445px 244px,
            563px 261px;
    }
    58% {
        transform: scale(0.42, 0.42);
        background-size:
            57px 57px,
            55px 55px,
            60px 60px,
            54px 54px,
            55px 55px,
            58px 58px,
            51px 51px,
            59px 59px,
            58px 58px,
            50px 50px,
            53px 53px,
            53px 53px;
        background-position:
            657px 328px,
            704px 441px,
            686px 559px,
            615px 658px,
            502px 704px,
            380px 687px,
            288px 616px,
            238px 500px,
            254px 380px,
            332px 288px,
            442px 240px,
            563px 256px;
    }
    60% {
        transform: scale(0.4, 0.4);
        background-size:
            56px 56px,
            55px 55px,
            59px 59px,
            54px 54px,
            55px 55px,
            58px 58px,
            50px 50px,
            58px 58px,
            58px 58px,
            49px 49px,
            53px 53px,
            52px 52px;
        background-position:
            659px 324px,
            708px 438px,
            691px 559px,
            620px 660px,
            506px 708px,
            381px 692px,
            286px 621px,
            234px 504px,
            249px 381px,
            327px 287px,
            439px 237px,
            562px 252px;
    }
    62% {
        transform: scale(0.38, 0.38);
        background-size:
            56px 56px,
            54px 54px,
            59px 59px,
            53px 53px,
            54px 54px,
            57px 57px,
            50px 50px,
            58px 58px,
            57px 57px,
            49px 49px,
            52px 52px,
            52px 52px;
        background-position:
            661px 320px,
            712px 436px,
            696px 558px,
            624px 662px,
            509px 712px,
            382px 697px,
            285px 626px,
            230px 507px,
            245px 382px,
            323px 285px,
            437px 233px,
            562px 247px;
    }
    64% {
        transform: scale(0.36, 0.36);
        background-size:
            55px 55px,
            54px 54px,
            58px 58px,
            53px 53px,
            54px 54px,
            57px 57px,
            49px 49px,
            57px 57px,
            56px 56px,
            48px 48px,
            52px 52px,
            51px 51px;
        background-position:
            663px 316px,
            716px 433px,
            701px 558px,
            629px 664px,
            512px 716px,
            383px 702px,
            283px 631px,
            227px 510px,
            240px 383px,
            319px 284px,
            434px 230px,
            561px 243px;
    }
    66% {
        transform: scale(0.34, 0.34);
        background-size:
            55px 55px,
            53px 53px,
            58px 58px,
            52px 52px,
            53px 53px,
            56px 56px,
            49px 49px,
            57px 57px,
            56px 56px,
            48px 48px,
            51px 51px,
            51px 51px;
        background-position:
            665px 312px,
            720px 430px,
            706px 557px,
            634px 666px,
            515px 720px,
            384px 706px,
            282px 635px,
            224px 513px,
            236px 384px,
            315px 282px,
            431px 226px,
            561px 239px;
    }
    68% {
        transform: scale(0.32, 0.32);
        background-size:
            54px 54px,
            53px 53px,
            57px 57px,
            52px 52px,
            53px 53px,
            56px 56px,
            49px 49px,
            56px 56px,
            55px 55px,
            48px 48px,
            51px 51px,
            50px 50px;
        background-position:
            667px 308px,
            723px 427px,
            710px 557px,
            638px 668px,
            518px 724px,
            385px 711px,
            281px 640px,
            221px 517px,
            232px 386px,
            311px 281px,
            428px 223px,
            560px 234px;
    }
    70% {
        transform: scale(0.3, 0.3);
        background-size:
            54px 54px,
            52px 52px,
            57px 57px,
            51px 51px,
            52px 52px,
            55px 55px,
            48px 48px,
            56px 56px,
            55px 55px,
            47px 47px,
            51px 51px,
            50px 50px;
        background-position:
            668px 304px,
            727px 425px,
            715px 556px,
            642px 669px,
            522px 727px,
            387px 716px,
            279px 644px,
            218px 520px,
            228px 387px,
            307px 280px,
            426px 220px,
            559px 230px;
    }
    72% {
        transform: scale(0.28, 0.28);
        background-size:
            53px 53px,
            52px 52px,
            56px 56px,
            51px 51px,
            52px 52px,
            55px 55px,
            48px 48px,
            55px 55px,
            54px 54px,
            47px 47px,
            50px 50px,
            50px 50px;
        background-position:
            670px 300px,
            730px 422px,
            719px 555px,
            647px 671px,
            525px 731px,
            388px 720px,
            278px 648px,
            215px 523px,
            224px 388px,
            303px 279px,
            423px 217px,
            559px 226px;
    }
    74% {
        transform: scale(0.26, 0.26);
        background-size:
            53px 53px,
            52px 52px,
            56px 56px,
            50px 50px,
            51px 51px,
            54px 54px,
            47px 47px,
            55px 55px,
            54px 54px,
            46px 46px,
            50px 50px,
            49px 49px;
        background-position:
            671px 296px,
            734px 419px,
            724px 555px,
            651px 672px,
            528px 734px,
            389px 725px,
            277px 653px,
            212px 526px,
            220px 389px,
            299px 278px,
            420px 214px,
            558px 222px;
    }
    76% {
        transform: scale(0.24, 0.24);
        background-size:
            52px 52px,
            51px 51px,
            55px 55px,
            50px 50px,
            51px 51px,
            54px 54px,
            47px 47px,
            54px 54px,
            53px 53px,
            46px 46px,
            49px 49px,
            49px 49px;
        background-position:
            673px 292px,
            737px 417px,
            728px 554px,
            655px 674px,
            531px 737px,
            390px 729px,
            276px 657px,
            209px 529px,
            216px 390px,
            295px 277px,
            418px 211px,
            557px 218px;
    }
    78% {
        transform: scale(0.22, 0.22);
        background-size:
            52px 52px,
            51px 51px,
            55px 55px,
            49px 49px,
            50px 50px,
            53px 53px,
            46px 46px,
            54px 54px,
            53px 53px,
            45px 45px,
            49px 49px,
            48px 48px;
        background-position:
            674px 288px,
            740px 414px,
            732px 553px,
            660px 675px,
            534px 740px,
            391px 733px,
            275px 661px,
            206px 532px,
            212px 391px,
            292px 276px,
            415px 209px,
            556px 215px;
    }
    80% {
        transform: scale(0.2, 0.2);
        background-size:
            51px 51px,
            50px 50px,
            54px 54px,
            49px 49px,
            50px 50px,
            53px 53px,
            46px 46px,
            53px 53px,
            53px 53px,
            45px 45px,
            48px 48px,
            48px 48px;
        background-position:
            675px 285px,
            743px 412px,
            737px 552px,
            664px 677px,
            537px 744px,
            393px 737px,
            274px 665px,
            203px 535px,
            209px 393px,
            288px 275px,
            412px 206px,
            556px 211px;
    }
    82% {
        transform: scale(0.18, 0.18);
        background-size:
            51px 51px,
            50px 50px,
            54px 54px,
            48px 48px,
            49px 49px,
            52px 52px,
            46px 46px,
            53px 53px,
            52px 52px,
            45px 45px,
            48px 48px,
            47px 47px;
        background-position:
            677px 281px,
            746px 409px,
            741px 552px,
            668px 678px,
            540px 747px,
            394px 741px,
            274px 669px,
            201px 538px,
            205px 394px,
            284px 274px,
            410px 203px,
            555px 207px;
    }
    84% {
        transform: scale(0.16, 0.16);
        background-size:
            50px 50px,
            49px 49px,
            53px 53px,
            48px 48px,
            49px 49px,
            52px 52px,
            45px 45px,
            52px 52px,
            52px 52px,
            44px 44px,
            47px 47px,
            47px 47px;
        background-position:
            678px 278px,
            749px 406px,
            745px 551px,
            672px 679px,
            543px 750px,
            395px 745px,
            273px 673px,
            198px 541px,
            201px 395px,
            281px 273px,
            407px 201px,
            554px 204px;
    }
    86% {
        transform: scale(0.14, 0.14);
        background-size:
            50px 50px,
            49px 49px,
            53px 53px,
            48px 48px,
            48px 48px,
            51px 51px,
            45px 45px,
            52px 52px,
            51px 51px,
            44px 44px,
            47px 47px,
            46px 46px;
        background-position:
            679px 274px,
            752px 404px,
            749px 550px,
            676px 680px,
            546px 752px,
            396px 749px,
            272px 677px,
            196px 544px,
            198px 397px,
            277px 273px,
            405px 198px,
            553px 200px;
    }
    88% {
        transform: scale(0.12, 0.12);
        background-size:
            49px 49px,
            48px 48px,
            52px 52px,
            47px 47px,
            48px 48px,
            51px 51px,
            44px 44px,
            51px 51px,
            51px 51px,
            43px 43px,
            47px 47px,
            46px 46px;
        background-position:
            680px 271px,
            755px 401px,
            752px 549px,
            680px 681px,
            549px 755px,
            398px 753px,
            272px 681px,
            194px 547px,
            195px 398px,
            274px 272px,
            402px 196px,
            552px 197px;
    }
    90% {
        transform: scale(0.1, 0.1);
        background-size:
            49px 49px,
            48px 48px,
            52px 52px,
            47px 47px,
            48px 48px,
            50px 50px,
            44px 44px,
            51px 51px,
            50px 50px,
            43px 43px,
            46px 46px,
            46px 46px;
        background-position:
            681px 267px,
            758px 399px,
            756px 548px,
            683px 682px,
            552px 758px,
            399px 757px,
            271px 685px,
            191px 550px,
            191px 399px,
            270px 271px,
            400px 194px,
            551px 194px;
    }
    92% {
        transform: scale(0.08, 0.08);
        background-size:
            48px 48px,
            47px 47px,
            51px 51px,
            46px 46px,
            47px 47px,
            50px 50px,
            44px 44px,
            50px 50px,
            50px 50px,
            43px 43px,
            46px 46px,
            45px 45px;
        background-position:
            682px 264px,
            760px 396px,
            760px 547px,
            687px 683px,
            555px 761px,
            401px 761px,
            270px 689px,
            189px 553px,
            188px 401px,
            267px 271px,
            397px 192px,
            550px 190px;
    }
    94% {
        transform: scale(0.06, 0.06);
        background-size:
            48px 48px,
            47px 47px,
            51px 51px,
            46px 46px,
            47px 47px,
            49px 49px,
            43px 43px,
            50px 50px,
            49px 49px,
            42px 42px,
            45px 45px,
            45px 45px;
        background-position:
            683px 261px,
            763px 394px,
            764px 546px,
            691px 684px,
            558px 763px,
            402px 764px,
            270px 692px,
            187px 556px,
            185px 402px,
            264px 270px,
            395px 189px,
            549px 187px;
    }
    96% {
        transform: scale(0.04, 0.04);
        background-size:
            48px 48px,
            47px 47px,
            50px 50px,
            45px 45px,
            46px 46px,
            49px 49px,
            43px 43px,
            49px 49px,
            49px 49px,
            42px 42px,
            45px 45px,
            44px 44px;
        background-position:
            684px 257px,
            765px 391px,
            767px 546px,
            695px 685px,
            561px 766px,
            403px 768px,
            269px 696px,
            185px 559px,
            182px 403px,
            260px 270px,
            392px 187px,
            549px 184px;
    }
    98% {
        transform: scale(0.02, 0.02);
        background-size:
            47px 47px,
            46px 46px,
            50px 50px,
            45px 45px,
            46px 46px,
            49px 49px,
            42px 42px,
            49px 49px,
            48px 48px,
            41px 41px,
            44px 44px,
            44px 44px;
        background-position:
            685px 254px,
            768px 389px,
            771px 545px,
            698px 686px,
            564px 768px,
            405px 771px,
            269px 700px,
            183px 562px,
            179px 405px,
            257px 270px,
            390px 185px,
            548px 181px;
    }
    100% {
        transform: scale(0, 0);
        background-size:
            47px 47px,
            46px 46px,
            49px 49px,
            45px 45px,
            45px 45px,
            48px 48px,
            42px 42px,
            49px 49px,
            48px 48px,
            41px 41px,
            44px 44px,
            44px 44px;
        background-position:
            685px 251px,
            770px 386px,
            774px 544px,
            702px 687px,
            566px 770px,
            406px 775px,
            269px 703px,
            181px 565px,
            176px 406px,
            254px 269px,
            387px 183px,
            547px 178px;
    }
}
