<header>
    <a class="logo-link" routerLink="/">
        <div class="logo-wrapper">
            <img src="/svg/logo.svg" alt="Timon.dev Logo" class="times-clicked-{{ homeClicked() }} special-effect" (click)="increaseHomeCounter()" />
            <div class="particles"></div>
        </div>
        <span>Timon.dev</span>
    </a>

    <div class="header-buttons">
        <app-primary-button [text]="'Kontaktieren'" [title]="'Kontaktiere mich!'" routerLink="/contact"></app-primary-button>
        <button type="button" class="contact-button-small" title="Kontaktiere mich!" routerLink="/contact">
            <img alt="Kontakt" src="/svg/mail.svg" class="contact-button-small-image" />
        </button>
        @if (authService.currentUser() !== null) {
            <app-profile-button></app-profile-button>
        }
        @if (authService.currentUser() === null) {
            <app-login-button></app-login-button>
        }
    </div>
</header>
