<header>
    <a class="logo-link" routerLink="/">
        <div class="logo-wrapper">
            <img src="/svg/logo.svg" alt="Timon.dev Logo" class="times-clicked-{{ homeClicked() }}" (click)="increaseHomeCounter()">
            <div class="particles"></div>
        </div>
        <span>Timon.dev</span>
    </a>

    <div class="header-buttons">
        <app-primary-button [text]="'Contact Me'" [title]="'Contact Me!'"></app-primary-button>
        <!-- If is logged in: link to cloud
         else: -->
        <app-login-button></app-login-button>
    </div>
</header>