<!--
- two sides
left:
    - small "Hey du"
    - big "Neue Website?<br>Timon ist schon Bereit!"
    - subtitle: "Ich bin Timon, ein Webentwickler aus Zürich. Ich helfe dir dabei, deine Ideen in die digitale Welt zu bringen."
    - button: "Los geht's!"
right:
    layer1: backround blob colorful
    layer2: my dark picture from the fotoshoot with and blob outline
    layer3: vierecke mit runden punkten neutrale farbe (wie im bild)
    layer4: 3 popups mit icons und text
        inhalt: coole sachen über mich => stärken / fun facts

-->
<section aria-label="hero" class="hero">
    <div class="left">
        <p class="greetings">Willkommen, Fremder</p>
        <h1>
            <span class="space">Neue Webseite?</span>
            <br>
            <span>
                <app-gradient-text [text]="'Timon'"></app-gradient-text>
                <span> ist schon bereit!</span>
            </span>
        </h1>
        <p class="subtitle">Ich bin ein Webentwickler aus Zürich und helfe dir dabei, deine Ideen in die digitale Welt zu bringen.</p>
        <div class="cta">
            <app-primary-button [text]="'Los geht\'s'"></app-primary-button>
            <app-secondary-button [text]="'Mehr über mich'"></app-secondary-button>
        </div>
    </div>
    <div class="right layer-wrapper">
        <div class="layer__1">
            <img src="/svg/hero_blob_layer1.svg" alt="Grauer Blob">
        </div>
        <div class="layer__2">
            <img src="/me.min.png" alt="Timon">
        </div>
        <div class="layer__3">
            <app-hero-dots class="vertical"></app-hero-dots>
            <app-hero-dots class="horizontal"></app-hero-dots>
        </div>
        <div class="layer__4">
            <app-hero-popup [iconUrl]="'/svg/rocket.svg'" [text]="''" [title]="''"></app-hero-popup>
            <app-hero-popup [iconUrl]="'/svg/diamond.svg'" [text]="''" [title]="''"></app-hero-popup>
            <app-hero-popup [iconUrl]="'/svg/code.svg'" [text]="''" [title]="''"></app-hero-popup>
        </div>
    </div>
</section>


<!--
components

    button
    cool text span
    vierecke mit punkten
    popups

scss file
    for the layer section-->