<!DOCTYPE html>
<!-- Anfang (+ Sprache) -->
<html lang="de">
<!-- Einstellungen + Verknüpfungen -->
<head>
  <!-- Sonderzeichen -->
  <meta charset="utf-8">
  <!--Anzeige-->
  <meta name="viewport" content="width=device-width" initial-scale=1.0>
  <!--Beschreibung-->
  <title>Level</title>
  <!--CSS Verknüpfung-->
  <link href="/original/style.css" rel="stylesheet" type="text/css" />
</head>

<body>
  <!-- Kopfbereich der Webseite -->
  <header class="index">
    <h1 class="game-titel">Level</h1>
    <p class="schrift-unter-game-titel">Probiere eins dieser Level aus.</p>
  </header>
  <!-- Navigationsbereich -->
  <nav>
    <ul>
      <li class="Navigationsleiste"><a href="/original/erfolge">Erfolge</a></li>
      <li class="Navigationsleiste"><a href="/original/settings">Einstellungen</a></li>
      <li class="Navigationsleiste"><a href="/original">Zurück zur Startseite</a></li>
    </ul>
    <br>
    <ol>
      <li class="Level-nummerierung"><a href="/original/level1">Level 1</a></li>
      <li class="Level-nummerierung"><a href="/original/level2">Level 2</a></li>
      <li class="Level-nummerierung"><a href="/original/level3">Level 3</a></li>
      <li class="Level-nummerierung"><a href="/original/level_no_more">Level 4</a></li>
      <li class="Level-nummerierung"><a href="/original/level_no_more">Level 5</a></li>
      <li class="Level-nummerierung"><a href="/original/level_no_more">Level 6</a></li>
      <li class="Level-nummerierung"><a href="/original/level_no_more">Level 7</a></li>
      <li class="Level-nummerierung"><a href="/original/level_no_more">Level 8</a></li>
      <li class="Level-nummerierung"><a href="/original/level_no_more">Level 9</a></li>
    </ol>
  </nav>
  <!-- Inhaltsbereich -->
  <main>
    <h2>Wie spiele ich erfolgreich ein Labyrinth durch?</h2>
    <p>In einem Labyrinth geht es darum, den Weg vom Eingang in den Ausgang zu finden, ohne in eine Sackgasse zu gelangen. Es gibt viele Verzweigungen und Kreuzungen um dir das Leben schwer zu machen. Du musst dir also einen Weg suchen. Tipps: <br>Probieren geht über studieren.<br>Halte dich immer rechts, irgendwann wirst du den Ausgang finden.</p>
  </main>
  <!-- Fußbereich -->
  <footer>
    <h3 class="quellen">Quellen und Entwickler</h3>
    <p class="quellen-text">Main Developer: Timon Fiedler <br>Entwicklungssoftware: <a 
 href="https://replit.com/">replit.com</a><br>Kontakt: fiedlertimon@gmail.com<br>Erstellt am 3.10.2022 als Schulprojekt</p>
  </footer>

</html>