<!DOCTYPE html>
<!-- Anfang (+ Sprache) -->
<html lang="de">
<!-- Einstellungen + Verknüpfungen -->
<head>
  <!-- Sonderzeichen -->
  <meta charset="utf-8">
  <!--Anzeige-->
  <meta name="viewport" content="width=device-width" initial-scale=1.0>
  <!--Beschreibung-->
  <title>Labyrinth Level 2</title>
  <!--CSS Verknüpfung-->
  <link href="/original/style.css" rel="stylesheet" type="text/css" />
  <!-- Ka was für en Link -->
  <link href="https://fonts.googleapis.com/css?family=Antic+Slab" rel="stylesheet">
</head>

<body>
  <!-- Kopfbereich der Webseite -->
  <header class="index">
    <h1 class="titel">Level 2</h1>
  </header>
 
  <!-- Navigationsbereich -->
  <nav> </nav>
  <!-- Inhaltsbereich -->
  <main>
    <img class="Labyrinthe-img" src="https://ik.imagekit.io/timon/original/Level2" height="deviceheight" width="devicewidth">

    <a class="Level-complete" href="/original/level3">Super, du hast es geschafft. Hier geht es zum nächsten Level!</a>
    
    <h2>Anleitung</h2>
    <p>In einem Labyrinth geht es darum, den Ausgang zu finden, ohne in eine Sackgasse zu gelangen. Es gibt viele Verzweigungen und Kreuzungen um dir das Leben schwer zu machen. Schaffst du es zu entkommen?</p>
  </main>
  <!-- Fußbereich -->
  <footer> </footer>

</html>