<!DOCTYPE html>
<!-- Anfang (+ Sprache) -->
<html lang="de">
<!-- Einstellungen + Verknüpfungen -->
<head>
  <!-- Sonderzeichen -->
  <meta charset="utf-8">
  <!--Anzeige-->
  <meta name="viewport" content="width=device-width" initial-scale=1.0>
  <!--Beschreibung-->
  <title>Labyrinth</title>
  <!--CSS Verknüpfung-->
  <link href="/original/style.css" rel="stylesheet" type="text/css" />
</head>

<body>
  <!-- Kopfbereich der Webseite -->
  <header class="index">
    <h1 class="level2-titel">Es gibt leider noch kein Level 3</h1>
    <p class="schrift-unter-level2-titel">Tut mir leid. Aber keine Sorge, ich arbeite daran.</p>
  </header>
  <!-- Navigationsbereich -->
  <nav>
    <ul>
      <li><a href="/original/level">Zurück zu den Level</a></li>
    </ul>
  </nav>
  <!-- Inhaltsbereich -->
  <main>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
  </main>
  <!-- Fußbereich -->
  <footer> <h3 class="quellen">Quellen und Entwickler</h3>
    <p class="quellen-text">Main Developer: Timon Fiedler <br>Entwicklungssoftware: <a href="https://replit.com/">replit.com</a><br>Kontakt: fiedlertimon@gmail.com<br>Erstellt   am 3.10.2022 als Schulprojekt</p>
  </footer>

</html>