<ul [style.left.px]="x()" [style.top.px]="y()" [class]="isVisible() ? 'visible' : 'hidden'">
    <li title="Datei in neuem Fenster öffnen" (click)="openFile()">
        <img src="/svg/contextmenu/open.svg" alt="Öffnen" />
        <h4>Öffnen</h4>
    </li>
    <li title="Datei in einen anderen Ordner verschieben" (click)="moveFile()">
        <img src="/svg/contextmenu/move.svg" alt="Verschieben" />
        <h4>Verschieben</h4>
    </li>
    <li title="Datei umbenennen" (click)="renameFile()">
        <img src="/svg/contextmenu/rename.svg" alt="Umbenennen" />
        <h4>Umbenennen</h4>
    </li>
    <li title="Datei herunterladen" (click)="downloadFile()">
        <img src="/svg/contextmenu/download.svg" alt="Herunterladen" />
        <h4>Herunterladen</h4>
    </li>
    <li title="Datei in die Zwischenablage kopieren" (click)="copyFile()">
        <img src="/svg/contextmenu/copy.svg" alt="Kopieren" />
        <h4>Kopieren</h4>
    </li>
    <li title="Link zur Datei teilen" (click)="shareFile()">
        <img src="/svg/contextmenu/share.svg" alt="Teilen" />
        <h4>Teilen</h4>
    </li>
    <li title="Details zur Datei anzeigen" (click)="showFileDetails()">
        <img src="/svg/contextmenu/details.svg" alt="Details" />
        <h4>Details</h4>
    </li>
    <li title="Datei Löschen" (click)="deleteFile()">
        <img src="/svg/contextmenu/delete.svg" alt="Löschen" />
        <h4>Löschen</h4>
    </li>
</ul>
<div class="overlay" [class]="isVisible() ? 'visible' : 'hidden'" (click)="close()" (contextmenu)="close()"></div>
@if (imageIsShown()) {
    <app-display-image-file [file]="file()" [open]="opener()"></app-display-image-file>
} @else if (videoIsShown()) {
    <app-display-video-file [file]="file()" [open]="opener()"></app-display-video-file>
} @else if (iframeIsShown()) {
    <app-display-iframe-file [file]="file()" [open]="opener()"></app-display-iframe-file>
} @else if (audioIsShown()) {
    <app-display-audio-file [file]="file()" [open]="opener()"></app-display-audio-file>
} @else if (textIsShown()) {
    <app-display-text-file [file]="file()" [open]="opener()"></app-display-text-file>
}
<app-file-details-menu [file]="file()" [open]="detailsOpener()"></app-file-details-menu>

