$text-50: #f1f4f1;
$text-100: #e2e9e2;
$text-200: #c6d2c6;
$text-300: #a9bca9;
$text-400: #8da58d;
$text-500: #708f70;
$text-600: #5a725a;
$text-700: #435643;
$text-800: #2d392d;
$text-900: #161d16;
$text-950: #0b0e0b;

$background-50: #f1f3f1;
$background-100: #e3e8e3;
$background-200: #c8d0c8;
$background-300: #acb9ac;
$background-400: #91a191;
$background-500: #758a75;
$background-600: #5e6e5e;
$background-700: #465346;
$background-800: #2f372f;
$background-900: #171c17;
$background-950: #0c0e0c;

$primary-50: #e9edfc;
$primary-100: #d2daf9;
$primary-200: #a6b5f2;
$primary-300: #7990ec;
$primary-400: #4c6be6;
$primary-500: #2046df;
$primary-600: #1938b3;
$primary-700: #132a86;
$primary-800: #0d1c59;
$primary-900: #060e2d;
$primary-950: #030716;

$secondary-50: #f1f3f4;
$secondary-100: #e3e6e8;
$secondary-200: #c7cdd1;
$secondary-300: #abb5ba;
$secondary-400: #8f9ca3;
$secondary-500: #73838c;
$secondary-600: #5c6970;
$secondary-700: #454f54;
$secondary-800: #2e3438;
$secondary-900: #171a1c;
$secondary-950: #0b0d0e;

$accent-50: #e8eefc;
$accent-100: #d1ddfa;
$accent-200: #a3baf5;
$accent-300: #7598f0;
$accent-400: #4776eb;
$accent-500: #1953e6;
$accent-600: #1443b8;
$accent-700: #0f328a;
$accent-800: #0a215c;
$accent-900: #05112e;
$accent-950: #030817;