@use "./variables.scss" as *;
@use "./colors.scss" as clr;
@use "sass:color";

@mixin main-button($bg-color, $size: 40px, $text-color: clr.$text-50) {
    display: block;
    border: none;
    font-size: calc($size / 2.5);
    font-weight: 700;
    font-family: $text;
    color: $text-color;
    background-color: $bg-color;
    text-transform: uppercase;
    height: $size;
    padding: 0 calc($size / 2);
    border-radius: calc($size / 2);
    cursor: pointer;
    transition: all 0.25s ease;
    box-sizing: border-box;
    line-height: 1;
    line-break: strict;
    text-align: center;
    text-decoration: none;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    &:hover {
        background-color: color.adjust($bg-color, $lightness: -10%);
    }
    &:active {
        background-color: color.adjust($bg-color, $lightness: -20%);
    }
    &:disabled,
    &:disabled:hover,
    &:disabled:active {
        cursor: not-allowed;
        background-color: color.adjust($bg-color, $blackness: 50%);
        color: color.adjust($text-color, $lightness: -10%);
    }
}

@mixin main-input($height, $width, $valid-color, $error-color, $text-color, $bg-color, $display-type: inline-block) {
    width: $width;
    height: $height;
    box-sizing: border-box;
    display: $display-type;
    color: $text-color;
    background-color: $bg-color;
    border: calc($height / 15) solid transparent;
    font-size: calc($height / 2.5);
    line-height: 1;
    padding: calc($height / 4) calc($height / 3);
    transition: all 0.25s ease;

    &:hover,
    &:focus,
    &:active,
    &:focus-within {
        background-color: color.adjust($bg-color, $lightness: 10%);
    }

    &.ng-untouched,
    &.ng-untouched.ng-invalid,
    &.ng-untouched.ng-valid {
        border-bottom-color: $text-color !important;
    }

    &:valid,
    &:user-valid {
        border-bottom-color: $valid-color;
    }

    &:invalid,
    &:disabled,
    &:user-invalid {
        border-bottom-color: $error-color;
    }

    &.ng-invalid {
        border-bottom-color: $error-color !important;
    }

    &.ng-valid {
        border-bottom-color: $valid-color !important;
    }

    &.ng-valid.ng-invalid {
        border-bottom-color: $error-color !important;
    }

    &:focus {
        border-bottom-color: $valid-color;
        outline: none;
    }

    &::placeholder {
        color: color.adjust($text-color, $lightness: -10%);
    }
}
