$header-height: 80px;
$padding-side: 3vw;
$text:
    "Sarabun",
    system-ui,
    -apple-system,
    BlinkMacSystemFont,
    sans-serif;
$title:
    "Teko",
    system-ui,
    -apple-system,
    BlinkMacSystemFont,
    monospace;
$footer-height: 500px;
