img {
    display: none;
    filter: invert(1);
    width: 100%;
    height: 100%;
    object-fit: contain;
    object-position: center;
    padding: 10%;
    box-sizing: border-box;
}

.wrapper {
    display: flex;
    align-items: center;
}
