body{
  /* Farbe im Hintergrund */
  background-color: black;
  /* Schriftfarbe */
  color:green;
  margin: 8px;
}

.titel{
  text-decoration: underline;
  color: lightgreen
}

.schrift-unter-titel{
  font-style: italic;
}

h2{
  color: lightgreen
}

nav{
  background-color: #809f60;
}

.Navigationsleiste{
  display : inline;
  margin-right: 2rem;
}

nav a{
  color: green;
  text-decoration: none;
}

nav ul{
  padding: 0.5rem;
}

.game-titel{
  text-decoration: underline;
  color: lightgreen
}

.schrift-unter-game-titel{
  font-style: italic;
}

.Level-nummerierung{
  margin-right: 2rem;
  color:#52d920;
}

.Level-complete {
  display: flex;
  justify-content: center;
  color:#52d920;
  text-decoration: none;
}

.Labyrinthe-img {
  display: flex;
  justify-content: center;
}