<div class="wrapper {{ visible() ? 'visible' : 'hidden' }}" (click)="cancel()">
    <form (click)="stopPropagation($event)" (contextmenu)="stopPropagation($event)">
        <h2>{{ title() }}</h2>
        <p>{{ text() }}</p>
        <div class="container">
            <app-secondary-button (click)="cancel()" [type]="'button'" [text]="cancelText()" [title]="cancelTitle()"></app-secondary-button>
            <app-primary-button (click)="confirm()" [type]="'button'" [text]="confirmText()" [title]="confirmTitle()" [disabled]="confirmDisabled()"></app-primary-button>
        </div>
    </form>
</div>
