@use "../../../styles/index" as *;

.wrapper {
    position: fixed;
    z-index: 1700;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba($background-950, 0.7);
    box-sizing: border-box;
    padding: calc($header-height / 2) $padding-side;
    padding-top: calc($header-height);
    display: grid;
    place-items: center;
}

form {
    width: clamp(200px, 50%, 800px);
    height: auto;
    background-color: $background-900;
    border-radius: calc($header-height / 5);
    padding: calc($header-height / 5);
    box-sizing: border-box;
    position: relative;
    box-shadow: 0 0 7.5px 0px rgba($secondary-200, 0.5);
}

h2, p {
    text-align: center;
    padding: 0 $padding-side;
}

h2 {
    font-size: calc($header-height / 2);
    margin: calc($header-height / 2 * 0.8) 0;
}

p {
    font-size: calc($header-height / 4);
    margin-bottom: calc($header-height / 2 * 1.1);
}

.container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    column-gap: calc($header-height / 4);
    margin-bottom: calc($header-height / 2 * 0.8);

    > :first-child {
        justify-self: end;
    }
}