@use "../../styles/index" as *;

.topbar {
    position: fixed;
    top: $header-height;
    left: 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: $padding-side;
    width: 100%;
    height: $header-height;
    padding: calc($header-height / 10) $padding-side;
    box-sizing: border-box;
    background-color: $background-950;
    box-shadow: 0 0 5px rgba($secondary-500, 0.5);
    z-index: 2000;
}

.upload {
    display: flex;
    gap: calc($padding-side / 2);
    align-items: center;
    justify-content: flex-end;
}

app-breadcrumb {
    display: flex;
    flex: 1;
    justify-content: flex-start;
    align-items: center;
    gap: calc($header-height / 5);
    height: 100%;
    overflow-x: auto;
    white-space: nowrap;
}

.spacer {
    height: $header-height;
}

.main {
    --width: 200px;
    width: 100%;
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(var(--width), 1fr));
    grid-template-rows: repeat(auto-fill, var(--width));
    justify-content: space-between;
    gap: calc($header-height / 3);
    padding: calc($header-height / 3) $padding-side;
    box-sizing: border-box;
    place-items: center;

    > app-file,
    > app-folder {
        width: 100%;
        height: var(--width);
    }

    > app-file {
        border-color: $secondary-500;
    }
}
