@use "./styles/fonts.scss" as font;
@use "./styles/colors.scss" as clr;
@use "./styles/variables.scss" as *;
@use "./styles/functions.scss" as *;
@use "./styles/keyframes.scss";
@use "sass:color" as color;



body {
    font-family: $text;
    color: clr.$text-50;
    background-color: clr.$background-950;
    margin: 0;
}

main {
    min-height: calc(100vh - $footer-height);
}

main::before {
    content: "";
    display: block;
    height: $header-height;
}

h1, h2, h3, h4, h5, h6 {
    font-family: $title;
}

*::selection {
    background-color: rgba(clr.$accent-400, 0.5);
}

img::selection {
    background-color: transparent;
}

.special-effect:hover {
    animation: header-hue-360 2s infinite linear;
}

.cursor-pointer {
    cursor: pointer;
}