@use "./styles/fonts.scss" as font;
@use "./styles/colors.scss" as clr;
@use "./styles/variables.scss" as *;
@use "sass:color" as color;



body {
    font-family: $text;
    color: clr.$text-50;
    background-color: clr.$background-950;
    margin: 0;
}

h1, h2, h3, h4, h5, h6 {
    font-family: $title;
}

*::selection {
    background-color: rgba(clr.$accent-400, 0.5);
}

img::selection {
    background-color: transparent;
}