/*
=========================================================================
README from Comfortaa Font: 
    https://timondev.vip/fonts/Comfortaa/README.txt
=========================================================================

=========================================================================
OLF from Comfortaa Font: 
    https://timondev.vip/fonts/Comfortaa/OFL.txt
=========================================================================

=========================================================================
OFL from Lilita One Font: 
    https://timondev.vip/fonts/Lilita_One/OFL.txt
=========================================================================
*/

@font-face {
    font-family: "Comfortaa";
    src: url("../fonts/Comfortaa/Comfortaa-VariableFont_wght.ttf") format("truetype"),
        url("../fonts/Comfortaa/static/Comfortaa-Regular.ttf") format("truetype"),
        url("../fonts/Comfortaa/static/Comfortaa-Bold.ttf") format("truetype"),
        url("../fonts/Comfortaa/static/Comfortaa-Light.ttf") format("truetype"),
        url("../fonts/Comfortaa/static/Comfortaa-Medium.ttf") format("truetype"),
        url("../fonts/Comfortaa/static/Comfortaa-SemiBold.ttf") format("truetype");
}

@font-face {
    font-family: "Lilita One";
    src: url("../fonts/Lilita_One/LilitaOne-Regular.ttf");
}